.DS_Store
node_modules
/dist
/coverage
/.swc
*.log
/debug.[jt]s

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Build files
/lib/*.js*
