.DS_Store
node_modules
/lib
/coverage
/.swc
/reports
*.log
/debug.[jt]s

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# stryker temp files
/stryker-tmp

/test-results/
/playwright-report/
/playwright/.cache/
